body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
}

header h1 {
    color: #343a40;
}

header h1 span {
    color: #007bff;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #007bff;
    text-decoration: none;
}

section {
    margin: 20px 0;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
